<form action="https://api.elasticemail.com/contact/add?version=2" data-id="msMwnUZpGv" method="post" id="ewf_subscriptionForm_msMwnUZpGv" class="Inline None Placeholders">
    <div class="headers" style="">
      <h3 id="ewf_formheader">Fique por dentro
      </h3>
      <p id="ewf_formdesc">Increva-se grátis para ficar por dentro dos assuntos da Curriculum Pro
      </p>
    </div>
    <fieldset style="border:none;" class="webform-custominputs">
 
    <div class="form__input half">
            <label for="name">Digite seu email</label>
            <input  undefined="" type="email" name="email"
             id="email" autocomplete="name" required>
     </div>
        
     <div class="form__input half">
            <label for="name">Digite nome</label>
            <input  undefined="" type="text" name="field_firstname"
             id="email" autocomplete="name" required>
     </div>
      
          
      <div class="checkboxes">
      </div>
      <div class="webform-lists">
      </div>
    </fieldset>



    <fieldset class="webform-options" style="border:none;">


      <input type="submit" name="submit" value="Sim, quero receber dicas" id="eesubmit">

      <input type="hidden" name="publicaccountid" value="fcd47578-6150-490c-891d-70b534718988">
      <input type="hidden" name="publicformid" value="bd162a53-fe1b-4875-86e9-01f7518577f3">
      <input type="hidden" name="returnUrl" value="http://curriculumpro.me/thanks/">
      <input type="hidden" name="activationReturnUrl" value="http://curriculumpro.me/">
      <input type="hidden" name="alreadyactiveurl" value="">
      <input type="hidden" name="activationTemplate" value="Ativação">
      <input type="hidden" name="source" value="WebForm">
      <input type="hidden" id="ewf_captcha" name="captcha" value="false">
      <input type="hidden" name="notifyEmail" value="marvio@curriculumpro.me">
      <button id="ewf_dismissForm" style="display:none; position: absolute; top: 0; right: 0; float: right">X
      </button>
      
    </fieldset>
 
  </form>
  